.Bouton-link {
    color: white;
    background-color: #d3455b;
    width: 70vw;
    border: none;
    height: 40px;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-bottom: 0px;
    margin-top: 20px;
    &__Connection {
        margin-bottom: 20px;
    }
    &__GreyButton {
        background-color: grey !important;
    }
}
/*poser la question ? - qu'est-ce qui est mal fait ?*/