@import "../../../scss/variables";

.App-header {
    background-color: $color-simple;
    display: flex;
    justify-content: space-between;
    &__Logo {
      height: 3rem;
      padding: 5px;
    }
}
.h1 {
  color: $color-primary;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 1.8rem !important;
  &__h2 {
    font-size: 1rem;
    padding-left: 2vw;
    text-align: center;
  }
  &__h2Account {
    font-size: 1.3rem;
    color: $color-tertiaire;
  }
}