@import "../../../scss/variables";

.Sinscire {
    background-color: $color-secondary;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 100vw;
    height: 750px;
    overflow-y: hidden !important;
}


@media (min-width: 768px) {
    .Sinscire {
        left: 95.33/*-732.15px*/;
        top: 50px;
        width: 100vw;
    }
}

@media (min-width: 1000px) {
    .Sinscire {
        left: -98.09vw/*-97.5VW*/;
        height: 900px;
    }
}