@import "../../../scss/variables";

.Sinscire {
    position: absolute;
    right: 8vw;
    top: 50px;
}


@media (min-width: 760px) {
    .Sinscire {
        left: 95.33;
        top: 50px;
        width: 100vw;
        right: -22vw;
    }
}

@media (min-width: 1000px) {
    .Sinscire {
        right: -37vw;
    }
}