@import "../../../scss/variables";

.Bouton-link {
    color: white;
    background-color: $color-primary;
    width: 70vw;
    border: none;
    height: 40px;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-bottom: 50px;
    margin-top: 20px;
    &__SmallMarge {
        margin-bottom: 5px;
    }
    &__GreyButton {
        background-color: grey !important;
    }
    &:disabled {
        background-color: grey;
    }
}

@media (min-width: 760px) {
    .Bouton-link {
        width: 40vw;
    }
}

@media (min-width: 1000px) {
    .Bouton-link {
        width: 25vw;
    }
}

@media (min-width: 1600px) {
    .Bouton-link {
        width: 14vw;
    }
}

