@import "../../../scss/variables";

a.dropdown-toggle {
    color: $color-primary;
    font-size: 30px;
    margin-right: 10px;
    &:hover {
        color: $color-primary;
    }
    &::after {
        display: none;
    }
}
li > button > a, li > a.dropdown-item > button {
    color: $color-primary !important;
}

li > button > a:hover {
    cursor: pointer;
}

a.dropdown-item > button {
    background-color: transparent;
    border: none;
    padding-left: 0px;
}

