@import "../../../scss/variables";

a.dropdown-toggle {
    color: $color-primary;
    font-size: 30px;
    margin-right: 10px;
    &:hover {
        color: $color-primary;
    }
    &::after {
        display: none;
    }
}
li > a.dropdown-item > a {
    color: $color-primary !important;
}