@import "../../../scss/variables";

.Card {
    background-color: $color-simple;
    margin-top: 60px;
    padding: 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    > form.Home {
        padding-left: 9vw;
        > div.publishButton {
            text-align: center;
            margin-left: -9vw;
        }
    }
    &__Account {
        height: 1250px;
        margin-bottom: 50px;
    }
}
.Information {
    font-size: 0.7rem;
    text-align: center;
}

@media (min-width: 760px) {
    .Card {
        margin-top: 80px;
        width: 55vw;
        > form.Home {
            padding-left: 0vw;
            > div.publishButton {
                margin-left: 0vw;
            }
        }
    }
    .Information {
        text-align: left;
        padding-left: 15vw;
    }
}

@media (min-width: 1000px) {
    .Card {
        width: 30vw;
        padding: 2vw;
    }
    .Information {
        padding-left: 5vw;
    }
}

@media (min-width: 1600px) {
    .Card {
        width: 18vw;
        > form.Home {
            padding-left: 5vw;
            > div.publishButton {
                margin-left: -5vw;
            }
        }
    }
    .Information {
        padding-left: 3vw;
    } 
}

@media (min-width: 1800px) {
    .Card > form.Home {
        padding-left: 2vw;
        > div.publishButton {
            margin-left: -2vw;
        }
    }
}