.Identification {
    background-color: white;
    margin-top: 35px;
    padding-left: 9vw;
    padding-right: 9vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 590px;
}
.Information {
    font-size: 0.7rem;
    text-align: center;
}