.Identification {
    background-color: white;
    margin-top: 35px;
    padding-left: 9vw;
    padding-right: 9vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 410px;
    margin-bottom: 5px;
    &__Compte {
        height: 630px !important;
    }
}
.Information {
    font-size: 0.7rem;
    text-align: center;
}