@import "../../../../scss/variables";

.PostStyle {
    background-color: $color-secondary;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 100vw;
    height: 900px;
    overflow-x: hidden !important;
    display: flex;
    justify-content: center;
    .Identification > form > textarea {
        width: 69vw;
    }
    &__Account {
        height: auto;
        div.accountDiv {
            width: 65vw;
        }
    }
    &__Posts {
        background-color: $color-secondary;
        position: absolute;
        right: 0px;
        top: 790px;
        width: 100vw;
        height: auto;
        overflow-y: hidden !important;
        ul {
            padding-left: 0px;
            list-style: none;
        }
        li > .Card {
            .DivProfil {
                overflow: hidden;
                width: 40vw;
                height: 40vw;
                border-radius: 40vw;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;
                .ImgProfil {
                    width: 40vw;
                }
            }
            .DatePost {
                display: flex;
                justify-content: center;
                align-content: center;
            }
            .DivPhoto {
                overflow: hidden;
                width: 90vw;
                .ImgPost {
                    width: 90vw;
                }
            }
            div {
                text-align: center;
                margin-top: 5px;
            }
        }
    }
}

.Input {
    margin-bottom: 40px;
    label {
      font-size: 1.1rem;
    }
    input, textarea {
      width: 70vw;
      margin-top: 5px;
      &:focus {
        background: $color-focus;
        border: 3px solid $color-primary;
        border-radius: 3px;
        color: $color-primary;
      }
    }
  }

@media (min-width: 768px) {
    .PostStyle {
        &__Account div.accountDiv {
            width: 41vw;
        }
        &__Posts li > .Card .DivProfil {
        overflow: hidden;
        width: 30vw;
        height: 30vw;
        border-radius: 30vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        img.ImgProfil {
            width: 30vw;
        }
        }
    }
    .PostStyle__Posts li > .Card .DivPhoto {
        overflow: hidden;
        width: 55vw;
        img.ImgPost {
            width: 55vw;
        }
    }
    .Input > input, .Input > textarea {
        width: 40vw;
    }
}

@media (min-width: 998px) {
    .PostStyle {
        &__Account div.accountDiv {
            width: 24vw;
        }
        &__Posts li > .Card .DivProfil {
            overflow: hidden;
            width: 15vw;
            height: 15vw;
            border-radius: 15vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            img.ImgProfil {
                width: 18vw;
            }
        }
    }
    .PostStyle__Posts li > .Card .DivPhoto {
        overflow: hidden;
        width: 30vw;
        img.ImgPost {
            width: 30vw;
        }
    }
    .Input > input, .Input > textarea {
        width: 25vw;
    }
}
  
  @media (min-width: 1600px) {
    .Input > input, .Input > textarea {
      width: 14vw;
    }
    .PostStyle__Posts li > .Card {
        .DivPhoto {
            width: 18vw;
            img.ImgPost {
                width: 18vw;
            }
        }
        .DivProfil {
            width: 11vw;
            height: 11vw;
            img.ImgProfil {
                width: 11vw;
            }
        }
    }
  }