.PostStyle {
    background-color: #dfe6ed;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 100vw;
    overflow-y: hidden !important;
    .Identification > form > textarea {
        width: 69vw;
    }
    &__Posts {
        background-color: #dfe6ed;
        position: absolute;
        right: 0px;
        top: 524px;
        width: 100vw;
        overflow-y: hidden !important;
        ul {
            padding-left: 0px;
            list-style: none;
        }
        div > li > .Identification {
            background-color: white;
            padding-top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 600px;
            .DivProfil {
                margin-top: 3px;
                overflow: hidden;
                width: 30vw;
                height: 30vw;
                border-radius: 30vw;
                .PhotoProfil {
                    width: 30vw;
                    height: auto;
                }
            }
            .DivPhoto {
                margin-top: 3px;
                overflow: hidden;
                .ImgPost {
                    width: 90vw;
                }
            }
            div {
                text-align: center;
                margin-top: 5px;
            }
        }
    }
    
}