@import "../../../../scss/variables";

.PostStyle {
    background-color: $color-secondary;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 100vw;
    height: 900px;
    overflow-y: hidden !important;
    display: flex;
    justify-content: center;
    .Identification > form > textarea {
        width: 69vw;
    }
    &__Account {
        height: auto;
    }
    &__Posts {
        background-color: $color-secondary;
        position: absolute;
        right: 0px;
        top: 790px;
        width: 100vw;
        height: auto;
        overflow-y: hidden !important;
        ul {
            padding-left: 0px;
            list-style: none;
        }
        li > .Card {
            .DivProfil {
                overflow: hidden;
                width: 72vw;
                height: 72vw;
                border-radius: 72vw;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;
                .ImgProfil {
                    width: 153vw;
                }
            }
            .DatePost {
                display: flex;
                justify-content: center;
                align-content: center;
            }
            .DivPhoto {
                overflow: hidden;
                width: 112vw;
                .ImgPost {
                    width: 90vw;
                }
            }
            div {
                text-align: center;
                margin-top: 5px;
            }
        }
    }
    
}

@media (min-width: 768px) {
    .PostStyle__Posts li > .Card .DivProfil {
        overflow: hidden;
        width: 40vw;
        height: 40vw;
        border-radius: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        img.ImgProfil {
            width: 72vw;
        }
    }
    .PostStyle__Posts li > .Card .DivPhoto {
        overflow: hidden;
        width: 56vw;
        img.ImgPost {
            width: 57vw;
        }
    }
}

@media (min-width: 998px) {
    .PostStyle__Posts li > .Card .DivProfil {
        overflow: hidden;
        width: 15vw;
        height: 15vw;
        border-radius: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        img.ImgProfil {
            width: 18vw;
        }
    }
    .PostStyle__Posts li > .Card .DivPhoto {
        overflow: hidden;
        width: 18vw;
        img.ImgPost {
            width: 18vw;
        }
    }
}