.Menu {
    position: absolute;
    top: 78px;
    background-color: #f7f9fa;
    width: 100vw;
    left: 0px;
    height: 234px;
    border-top: 2px solid #d3455b;
    nav > ul > li {
        list-style: none;
        border: none;
        border-top: 1px solid #CBD4DA;
        border-bottom: 1px solid #CBD4DA;
        height: 80px;
        margin-left: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
        text-decoration: none;
        color: #293845;
        font-size: 1.4rem;
        }
    }
}