@import "../scss/scss/fontawesome.scss";
@import "../scss/scss/solid.scss";

$fa-font-path: "../scss/webfonts";

/*VARIABLE COULEURS*/
$color-primary: #FF0000;
$color-secondary: #dfe6ed;
$color-tertiaire: grey;
$color-focus: #af929259;
$color-simple: white;
